<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   AppIntentVocabulary.plist
   Athan Utility

   Created by Omar Al-Ejel on 5/9/19.
   Copyright (c) 2019 Omar Alejel. All rights reserved.
-->
<plist version="1.0">
    <dict>
    
    </dict>
</plist>
